<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>

	<appSettings>
		<add key="ThreadCount" value="2" />
		<add key="MailPortionSize" value="100" />
		<add key="MailCheckPeriod" value="60" />
		<add key="MailServer" value="10.175.32.66" />
		<add key="MailServerPort" value="25" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
	
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="DbConnection" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=G:\work\projects\csharp\DB\MailBoxDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
        <bindings>
               <basicHttpBinding>
                      <binding name="BasicHttpBinding_IGateway" />
               </basicHttpBinding>
        </bindings>
        <client>
               <endpoint address="http://localhost:8733/MailBoxGateway/service"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGateway"
                      contract="MailBoxService.IGateway" name="BasicHttpBinding_IGateway" />
        </client>
    </system.serviceModel>
</configuration>
