<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>

	<appSettings>
		<add key="ThreadCount" value="2" />
		<add key="MailPortionSize" value="100" />
		<add key="MailCheckPeriod" value="60" />
		<add key="MailServer" value="10.175.32.66" />
		<add key="MailServerPort" value="25" />
	</appSettings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>

	<connectionStrings>
		<!--<add name="DbConnection" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=G:\work\projects\csharp\DB\MailBoxDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
		<add name="DbConnection" connectionString="data source=MSK01-DEVSQL01.uralsibins.ru; initial catalog=MailBox; User ID=MailBoxUser;Password=MailBoxPassword; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
	
	<!-- copy from GatewayService config -->
	<system.serviceModel>
		<services>
			<service name="GatewayService.GatewayService" behaviorConfiguration="GatewayServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="MailBoxModels.Gateway.IGateway">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/MailBoxGateway/service"/>
						<!--<add baseAddress="http://vs-tst00-web02:8773/MailBoxGateway/service"/>-->
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="GatewayServiceBehavior">
					<!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false".-->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- Чтобы получить сведения об исключениях в ошибках для отладки, установите ниже значение TRUE. Перед развертыванием установите значение FALSE, чтобы избежать разглашения сведений об исключении -->
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>
